USE [master]
GO
/****** Object:  Database [DB_ingenieria_de_software]    Script Date: 9/26/2026 8:23:56 AM ******/
CREATE DATABASE [DB_ingenieria_de_software]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_ingenieria_de_software', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVERPRIME\MSSQL\DATA\DB_ingenieria_de_software.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_ingenieria_de_software_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVERPRIME\MSSQL\DATA\DB_ingenieria_de_software_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_ingenieria_de_software].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_ingenieria_de_software]
GO
/****** Object:  Table [dbo].[Actividad]    Script Date: 9/26/2026 8:23:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actividad](
	[Actividad_Id] [int] NOT NULL,
	[Actividad_Nombre] [varchar](150) NOT NULL,
	[Actividad_Descripcion] [varchar](max) NULL,
	[Categoria_Id] [int] NULL,
	[Actividad_FechaHora] [datetime] NOT NULL,
	[Actividad_FechaPublicacion] [datetime] NOT NULL,
	[Actividad_FechaCaducidad] [datetime] NOT NULL,
	[Actividad_Ubicacion] [varchar](200) NOT NULL,
	[Actividad_CantMinima] [int] NOT NULL,
	[Actividad_CantMaxima] [int] NOT NULL,
	[Actividad_NivelRequerido] [int] NOT NULL,
	[Actividad_Estado] [int] NOT NULL,
	[Usuario_OrganizadorId] [int] NULL,
	[Actividad_DVH] [varchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[Actividad_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 9/26/2026 8:23:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Bitacora_Id] [int] IDENTITY(1,1) NOT NULL,
	[Bitacora_Usuario] [nvarchar](50) NOT NULL,
	[Bitacora_Actividad] [nvarchar](100) NOT NULL,
	[Bitacora_FechaHora] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Bitacora_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 9/26/2026 8:23:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[Categoria_Id] [int] NOT NULL,
	[Categoria_Nombre] [varchar](100) NOT NULL,
	[Categoria_Descripcion] [varchar](250) NULL,
	[Categoria_DVH] [varchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[Categoria_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Componente]    Script Date: 9/26/2026 8:23:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Componente](
	[Componente_Id] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[NombreInterno] [varchar](100) NULL,
	[EsFamilia] [bit] NOT NULL,
 CONSTRAINT [PK_Componente] PRIMARY KEY CLUSTERED 
(
	[Componente_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Componente_Hijo]    Script Date: 9/26/2026 8:23:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Componente_Hijo](
	[Padre_Id] [int] NOT NULL,
	[Hijo_Id] [int] NOT NULL,
 CONSTRAINT [PK_Componente_Hijo] PRIMARY KEY CLUSTERED 
(
	[Padre_Id] ASC,
	[Hijo_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DigitoVerificadorVertical]    Script Date: 9/26/2026 8:23:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DigitoVerificadorVertical](
	[DVV_Tabla] [varchar](50) NOT NULL,
	[DVV_Hash] [varchar](64) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DVV_Tabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Etiqueta]    Script Date: 9/26/2026 8:23:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Etiqueta](
	[Clave] [nvarchar](100) NOT NULL,
	[Español] [nvarchar](200) NULL,
	[Ingles] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialCambios]    Script Date: 9/26/2026 8:23:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialCambios](
	[HC_Id] [int] IDENTITY(1,1) NOT NULL,
	[HC_EntidadNombre] [varchar](50) NOT NULL,
	[HC_EntidadId] [int] NOT NULL,
	[HC_NombreCampo] [varchar](50) NOT NULL,
	[HC_ValorAnterior] [nvarchar](200) NULL,
	[HC_ValorNuevo] [nvarchar](200) NULL,
	[HC_Operador] [nvarchar](50) NOT NULL,
	[HC_FechaHora] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HC_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Postulacion]    Script Date: 9/26/2026 8:23:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Postulacion](
	[Postulacion_Id] [int] NOT NULL,
	[Actividad_Id] [int] NULL,
	[Usuario_CandidatoId] [int] NULL,
	[Postulacion_Fecha] [datetime] NOT NULL,
	[Postulacion_Estado] [int] NOT NULL,
	[Postulacion_DVH] [varchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[Postulacion_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 9/26/2026 8:23:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Usuario_Id] [int] NOT NULL,
	[Usuario_NombreUsuario] [nvarchar](50) NOT NULL,
	[Usuario_Contraseña] [char](64) NOT NULL,
	[Usuario_Activo] [bit] NULL,
	[Usuario_Permiso] [smallint] NULL,
	[Usuario_BloqueoDV] [bit] NULL,
	[Usuario_DVH] [char](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[Usuario_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_Componente]    Script Date: 9/26/2026 8:23:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Componente](
	[Usuario_Id] [int] NOT NULL,
	[Componente_Id] [int] NOT NULL,
 CONSTRAINT [PK_Usuario_Componente] PRIMARY KEY CLUSTERED 
(
	[Usuario_Id] ASC,
	[Componente_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([Bitacora_Id], [Bitacora_Usuario], [Bitacora_Actividad], [Bitacora_FechaHora]) VALUES (1, N'Juan66', N'Login', CAST(N'2026-06-19T15:00:36.177' AS DateTime))
INSERT [dbo].[Bitacora] ([Bitacora_Id], [Bitacora_Usuario], [Bitacora_Actividad], [Bitacora_FechaHora]) VALUES (2, N'Juan66', N'Alta de usuario: Jose', CAST(N'2026-06-19T15:01:58.043' AS DateTime))
INSERT [dbo].[Bitacora] ([Bitacora_Id], [Bitacora_Usuario], [Bitacora_Actividad], [Bitacora_FechaHora]) VALUES (3, N'Juan66', N'Logout', CAST(N'2026-06-19T15:03:48.813' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
INSERT [dbo].[Categoria] ([Categoria_Id], [Categoria_Nombre], [Categoria_Descripcion], [Categoria_DVH]) VALUES (1, N'Deportiva', N'Actividades relacionadas con deportes, entrenamientos físicos y juegos de equipo', N'48e48ce18d0a3b5243ae8f6cbb9ef4217edd9bc35483728b2f50aa718b613c11')
INSERT [dbo].[Categoria] ([Categoria_Id], [Categoria_Nombre], [Categoria_Descripcion], [Categoria_DVH]) VALUES (2, N'Capacitación', N'Talleres, cursos, seminarios y actividades de formación profesional o técnica', N'7c4f69d225a4e4323299569da6e841f2aee2a37daeea4e379f44fa34931399be')
INSERT [dbo].[Categoria] ([Categoria_Id], [Categoria_Nombre], [Categoria_Descripcion], [Categoria_DVH]) VALUES (3, N'Recreativa', N'Eventos de esparcimiento, juegos de mesa, salidas culturales y actividades sociales', N'90410fd8b044c1d3f779fa8e5450e362afea69fac30ee86bbbf973996a59d3e9')
GO
INSERT [dbo].[Componente] ([Componente_Id], [Nombre], [NombreInterno], [EsFamilia]) VALUES (1, N'Acceso de Rescate por Falla', N'Permiso_Rescate', 0)
INSERT [dbo].[Componente] ([Componente_Id], [Nombre], [NombreInterno], [EsFamilia]) VALUES (2, N'Visualizar Usuarios', N'Permiso_Ver_Usuarios', 0)
INSERT [dbo].[Componente] ([Componente_Id], [Nombre], [NombreInterno], [EsFamilia]) VALUES (3, N'Alta de Usuarios', N'Permiso_Alta_Usuario', 0)
GO
INSERT [dbo].[Componente_Hijo] ([Padre_Id], [Hijo_Id]) VALUES (9, 1)
INSERT [dbo].[Componente_Hijo] ([Padre_Id], [Hijo_Id]) VALUES (9, 2)
INSERT [dbo].[Componente_Hijo] ([Padre_Id], [Hijo_Id]) VALUES (9, 8)
GO
INSERT [dbo].[DigitoVerificadorVertical] ([DVV_Tabla], [DVV_Hash]) VALUES (N'Actividad', N'803465e9c311f5629b40ec0ba9369e195787355f7d48cfe6d4f8f4b90bce15ba')
INSERT [dbo].[DigitoVerificadorVertical] ([DVV_Tabla], [DVV_Hash]) VALUES (N'Categoria', N'c7dc5ffa15c2efbbd7c2fb235a30466698f2082ab39066c8c93faceca1def18d')
INSERT [dbo].[DigitoVerificadorVertical] ([DVV_Tabla], [DVV_Hash]) VALUES (N'Postulacion', N'6dbd5c33ae8efae9a3aecbb2804ae98832e494afbf39fb67705522a5d66993ef')
GO
INSERT [dbo].[Etiqueta] ([Clave], [Español], [Ingles]) VALUES (N'gestusu_alta', N'Alta', N'Add')
INSERT [dbo].[Etiqueta] ([Clave], [Español], [Ingles]) VALUES (N'gestusu_col_activo', N'Activo', N'Active')
INSERT [dbo].[Etiqueta] ([Clave], [Español], [Ingles]) VALUES (N'gestusu_col_contra', N'Contraseña', N'Password')
GO
SET IDENTITY_INSERT [dbo].[HistorialCambios] ON 

INSERT [dbo].[HistorialCambios] ([HC_Id], [HC_EntidadNombre], [HC_EntidadId], [HC_NombreCampo], [HC_ValorAnterior], [HC_ValorNuevo], [HC_Operador], [HC_FechaHora]) VALUES (1, N'Usuario', 2, N'Activo', N'True', N'False', N'Juan66', CAST(N'2026-07-01T12:27:36.510' AS DateTime))
INSERT [dbo].[HistorialCambios] ([HC_Id], [HC_EntidadNombre], [HC_EntidadId], [HC_NombreCampo], [HC_ValorAnterior], [HC_ValorNuevo], [HC_Operador], [HC_FechaHora]) VALUES (2, N'Usuario', 2, N'Activo', N'False', N'True', N'Juan66', CAST(N'2026-07-01T12:28:28.563' AS DateTime))
INSERT [dbo].[HistorialCambios] ([HC_Id], [HC_EntidadNombre], [HC_EntidadId], [HC_NombreCampo], [HC_ValorAnterior], [HC_ValorNuevo], [HC_Operador], [HC_FechaHora]) VALUES (6, N'Usuario', 6, N'NombreUsuario', NULL, N'Nicolino', N'Juan66', CAST(N'2026-07-01T16:32:45.937' AS DateTime))
SET IDENTITY_INSERT [dbo].[HistorialCambios] OFF
GO
INSERT [dbo].[Postulacion] ([Postulacion_Id], [Actividad_Id], [Usuario_CandidatoId], [Postulacion_Fecha], [Postulacion_Estado], [Postulacion_DVH]) VALUES (1, 1, 2, CAST(N'2026-09-24T22:57:11.050' AS DateTime), 2, N'dcb5d6e69e4ded78464ae2843f509daf65c9ca09dfdc9b5ad69166341963a877')
INSERT [dbo].[Postulacion] ([Postulacion_Id], [Actividad_Id], [Usuario_CandidatoId], [Postulacion_Fecha], [Postulacion_Estado], [Postulacion_DVH]) VALUES (2, 1, 5, CAST(N'2026-09-25T23:52:17.977' AS DateTime), 1, N'7182dd431b5c8833ed3c8a02c8615780df8dca7d83ed4166962b207f45a656b5')
GO
INSERT [dbo].[Usuario] ([Usuario_Id], [Usuario_NombreUsuario], [Usuario_Contraseña], [Usuario_Activo], [Usuario_Permiso], [Usuario_BloqueoDV], [Usuario_DVH]) VALUES (1, N'Juan66', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', 1, 1, 0, N'34137af2294ca69ec907f14777b972cd9d1607b39868323dca8d94a4b8913aa8')
INSERT [dbo].[Usuario] ([Usuario_Id], [Usuario_NombreUsuario], [Usuario_Contraseña], [Usuario_Activo], [Usuario_Permiso], [Usuario_BloqueoDV], [Usuario_DVH]) VALUES (2, N'Maria01', N'b1ef627fe51fca5bea57e92eb41bcad3ae17d376cc9217e05cc8b2779c546b8c', 1, 2, 0, N'24628e92cbfff4b4e253c4d518b749c2955f8c7cecb8289fd1d9e4e1355558e0')
INSERT [dbo].[Usuario] ([Usuario_Id], [Usuario_NombreUsuario], [Usuario_Contraseña], [Usuario_Activo], [Usuario_Permiso], [Usuario_BloqueoDV], [Usuario_DVH]) VALUES (3, N'Carlos22', N'a4e7c6ae4013276deabc1be4f9c65a6dc382f317e0cb81497aba26915cde5b66', 0, 2, 0, N'd9019f324320b75075c4c48e56c70c00328649a2fea2ffde0f98929dd7b24771')
GO
INSERT [dbo].[Usuario_Componente] ([Usuario_Id], [Componente_Id]) VALUES (1, 9)
INSERT [dbo].[Usuario_Componente] ([Usuario_Id], [Componente_Id]) VALUES (1, 10)
INSERT [dbo].[Usuario_Componente] ([Usuario_Id], [Componente_Id]) VALUES (1, 17)
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [Usuario_Activo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [Usuario_Permiso]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [Usuario_BloqueoDV]
GO
ALTER TABLE [dbo].[Actividad]  WITH CHECK ADD FOREIGN KEY([Categoria_Id])
REFERENCES [dbo].[Categoria] ([Categoria_Id])
GO
ALTER TABLE [dbo].[Actividad]  WITH CHECK ADD FOREIGN KEY([Usuario_OrganizadorId])
REFERENCES [dbo].[Usuario] ([Usuario_Id])
GO
ALTER TABLE [dbo].[Componente_Hijo]  WITH CHECK ADD  CONSTRAINT [FK_Componente_Hijo_Hijo] FOREIGN KEY([Hijo_Id])
REFERENCES [dbo].[Componente] ([Componente_Id])
GO
ALTER TABLE [dbo].[Componente_Hijo] CHECK CONSTRAINT [FK_Componente_Hijo_Hijo]
GO
ALTER TABLE [dbo].[Componente_Hijo]  WITH CHECK ADD  CONSTRAINT [FK_Componente_Hijo_Padre] FOREIGN KEY([Padre_Id])
REFERENCES [dbo].[Componente] ([Componente_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Componente_Hijo] CHECK CONSTRAINT [FK_Componente_Hijo_Padre]
GO
ALTER TABLE [dbo].[Postulacion]  WITH CHECK ADD FOREIGN KEY([Actividad_Id])
REFERENCES [dbo].[Actividad] ([Actividad_Id])
GO
ALTER TABLE [dbo].[Postulacion]  WITH CHECK ADD FOREIGN KEY([Usuario_CandidatoId])
REFERENCES [dbo].[Usuario] ([Usuario_Id])
GO
ALTER TABLE [dbo].[Usuario_Componente]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Componente_Componente] FOREIGN KEY([Componente_Id])
REFERENCES [dbo].[Componente] ([Componente_Id])
GO
ALTER TABLE [dbo].[Usuario_Componente] CHECK CONSTRAINT [FK_Usuario_Componente_Componente]
GO
ALTER TABLE [dbo].[Usuario_Componente]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Componente_Usuario] FOREIGN KEY([Usuario_Id])
REFERENCES [dbo].[Usuario] ([Usuario_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Usuario_Componente] CHECK CONSTRAINT [FK_Usuario_Componente_Usuario]
GO
USE [master]
GO
